body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    background: #85ffb8;
    border-radius: 20px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.input, .dropdown, button, .result {
    border: #f54547 1.5px dashed;
    border-radius: 5px;
    color: #f54547;
    background: none;
    text-align: start;
    padding: 5px 10px;
}
.result {
    width: 100%;
}
button {
    margin: 40px 0;
    padding: 3px 40px;
    text-align: center;
}
